<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
]>
<root id="-1">
  <service id="1076" key="d5eb0e81-e4ab-4986-8445-de8ac91ac4a7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-13T10:29:06" updateDate="2018-11-13T10:42:56" nodeName="Services" urlName="services" path="-1,1076" isDoc="" nodeType="1074" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="1073" nodeTypeAlias="service" isPublished="true">
    <headline><![CDATA[Kill me]]></headline>
    <content><![CDATA[<p>Lorum ipsum dolor sit amet</p>]]></content>
    <title><![CDATA[Title]]></title>
    <description><![CDATA[Description]]></description>
    <summary><![CDATA[snldfhlsdhlfhsf]]></summary>
  </service>
</root>